<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel="stylesheet" href="/@uppy/core/dist/style.css">
    <link rel="stylesheet" href="/@uppy/dashboard/dist/style.css">

    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">

    <script src="/jquery/dist/jquery.js"></script>

    <script src="/bootstrap/dist/js/bootstrap.js"></script>


</head>
<body>