<% var title = "Error - No Gallery"; %>

<% include ../partials/top.ejs %>

<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col text-center">
                <h1 class="display-4">Oops! No pictures found!</h1>
                <p class="lead">Upload some pictures!</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr class="my-4">
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <a class="btn btn-primary btn-lg" href="/" role="button">Back</a>
            </div>
        </div>
    </div>
</div>

<% include ../partials/bottom.ejs %>